/*----- navbar ------  */
.navbar{
    width: 100%;
    height: 64px;
    font-size: 24px;
    background-color: navy;
    overflow: auto;
    position: fixed;
    top:0;
    left: 0;
}

.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 1px 15px;
    padding-bottom: 5px;
}

.navbar, .btn{
    text-decoration: none;
    color: lightgray;

}
/*----- active button ----- */
a.active {
    border-bottom:5px solid rgb(241,86,90);

}
img{
    height: 20px;
    width: 100%
}
/*---- img ----- */
img:hover{
    filter: brightness(200%);
    height: 22px;
    width: 101%;
}

/*----- hover ----- */
.btn:hover{
    color: white;
}

/*----- main content ----- */
.main{
    margin: 90px;
    max-width: 1140px;
}